<h1>Would you like to elaborate?</h1>

<br>
<div id="comment">
</div>
<br>
<form action="/feedback_mood/<%=@feedback.id%>/students/<%=@student.id%>/comment" method="post">
  <input name="_method" type="hidden" value="patch">
  <input name="comment" type="text">
  <button class="btn btn-primary btn-lg">Submit!</button>
</form>
<br>
<a href="/feedback_final" class="btn btn-primary btn-xs">No Thanks!</a>
