<h1>seems like you're feeling pretty<img src="/images/sad.jpg" alt="HTML tutorial" style="width:50px;height:50px;"></h1>
<h3>we've all been there, friend.</h3>

<form action='/feedback_mood/<%=@feedback.id%>/students/<%=@student.id%>' method='post'>
  <%= erb(:form) %>
</form>
