<h1>Yay! Awesome days are what we strive for!</h1>
<h3>We think you are doing a fantastic job, so spread the joy!</h3>

<a href="/feedback_mood/<%= @feedback.id %>/students/<%= @student.id %>" class="btn btn-primary btn-lg">Continue</a>
