<h1>seems like you're feeling <img src="/images/neutral.jpg" alt="neutral face" style="width:50px;height:50px;"> </h1>
<h3>hang in there, friend!</h3>

<form action='/feedback_mood/<%=@feedback.id%>/students/<%=@student.id%>' method='post'>
  <%= erb(:form) %>
</form>
