 <form>
        <legend>what could've gone better today?</legend>
        <input type="checkbox" name="mood_cause[]" id="Curriculum" value="Curriculum"><label for="Curriculum">Curriculum</label><br>
        <input type="checkbox" name="mood_cause[]" id="Pair" value="Pair"><label for="Pair">Pair</label><br>
        <input type="checkbox" name="mood_cause[]" id="Life" value="Life"><label for="Life">Life</label><br>
        <br>
  <button name="Submit" class="btn-default btn-xs">submit</button>
</form>
