
<center>

<br>
<div id="name">
  <a href="/teachers"><img src="images/teacher.jpg" alt="teacher"></a>
  <a href="/students"><img src="images/student2.jpg" alt="student"></a>
</div>
<div class="title">
  <h3>learning buddy</h3>
</div>

</center>
