
<center>
<h1>Welcome, Please Select Your View</h1>

<br>
<div id="name">

<a href="/students" class="btn btn-primary btn-lg">Student View</a>

<a href="/teachers" class="btn btn-primary btn-lg">Teacher View</a>

</div>
</center>
