<div class='home-btn'>
<a href="/" class="btn btn-link">Home</a> <a href="/teachers" class="btn btn-link">Teacher Page</a>
</div>
<h1>Class Roster</h1>
<form action="/students/new" method="post">
    <input name="name" placeholder="Student Name" type="text">
    <button type="submit" class="btn-default">Add Student</button>
</form>
    <% if @students.any? %>
        <% @students.each do |student| %>
            <ul>
                <li><a href="/students/<%= student.id %>"><%= student.name() %></a> </li>
            </ul>
        <% end %>
        <% else %>
        <h3>Your class roster is empty, please add a student. </h3>
    <% end %>

    <h1>Lessons</h1>
    <form action="/lessons/new" method="post">
        <input name="lesson_name" placeholder="Lesson Title" type="text">
        <button type="submit" class="btn-default">Add Lesson</button>
    </form>
        <% if @lessons.any? %>
            <% @lessons.each do |lesson| %>
                <ul>
                    <li><a href="/lessons/<%= lesson.id %>"><%= lesson.name() %></a> </li>
                </ul>
            <% end %>
            <% else %>
            <h3>There are no lessons yet, please add one.</h3>
        <% end %>
