<h1>Hello wonderful teacher!</h1>
<h3>Thank you so much for all you do!</h3>

<h2>Select</h2>

<a href="/teacher-admin/" class="btn btn-success btn-large">ADMIN</a>

<a href="/teacher-analytics" class="btn btn-success btn-large"> ANALYTICS</a>
