
<div class ="row">
  <div class="col-md-6">
<h1>roster</h1>
<form action="/students/new" method="post">
    <input name="name" placeholder="name" type="text">
    <button type="submit" class="btn-default btn-xs">+</button>
</form>
    <% if @students.any? %>
        <% @students.each do |student| %>
            <ul>
                <li><a href="/students/<%= student.id %>"><%= student.name() %></a> </li>
            </ul>
        <% end %>
        <% else %>
        <h3>Your class roster is empty, please add a student. </h3>
    <% end %>
</div>
<div class="col-md-6">
    <h1>lessons</h1>
    <form action="/lessons/new" method="post">
        <input name="lesson_name" placeholder="title" type="text">
        <button type="submit" class="btn-default btn-xs">+</button>
    </form>
        <% if @lessons.any? %>
            <% @lessons.each do |lesson| %>
                <ul>
                    <li><a href="/lessons/<%= lesson.id %>"><%= lesson.name() %></a> </li>
                </ul>
            <% end %>
            <% else %>
            <h3>There are no lessons yet, please add one.</h3>
        <% end %>
  </div>
</div>

<div class='home-btn'>
<p>
<a href="/" class="btn btn-link">home</a> | <a href="/teachers" class="btn btn-link">teacher page</a>
</p>
</div>
